<div class="tab-pane fade" id="ebay-info" role="tabpanel" aria-labelledby="ebay-tab">
  <div class="row mb-3">
    <div class="col-md-12">
      <p class="text-muted mb-4">
        Configure eBay-specific details for this product. These settings will be used when you list this product on eBay.
      </p>
    </div>
  </div>
  
  <div class="row mb-3">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.fields_for :ebay_product_attribute do |ebay_fields| %>
          <%= ebay_fields.label :category_id, "eBay Category", class: "form-label" %>
          <%= ebay_fields.text_field :category_id, 
              class: "form-control", 
              data: { 
                ebay_category_selector: true, 
                options: { 
                  placeholder: "Search for eBay category...",
                  existingItemSpecifics: product.ebay_product_attribute&.item_specifics.presence
                }.to_json 
              } 
          %>
          <small class="form-text text-muted">Search for the most specific category for your product</small>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= form.fields_for :ebay_product_attribute do |ebay_fields| %>
          <%= ebay_fields.label :store_category_id, "eBay Store Category", class: "form-label" %>
          <%= ebay_fields.select :store_category_id, 
              current_shop.shopify_ebay_account&.store_categories&.map { |c| [c["name"], c["id"] || c["category_id"]] } || [], 
              { include_blank: "Select Store Category" }, 
              { class: "form-select" } 
          %>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="row mb-3">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.fields_for :ebay_product_attribute do |ebay_fields| %>
          <%= ebay_fields.label :condition_id, "eBay Condition", class: "form-label" %>
          <%= ebay_fields.select :condition_id, 
              [
                ["New", "1000"],
                ["New other (see details)", "1500"],
                ["New with defects", "1750"],
                ["Manufacturer refurbished", "2000"],
                ["Seller refurbished", "2500"],
                ["Used", "3000"],
                ["Very Good", "4000"],
                ["Good", "5000"],
                ["Acceptable", "6000"],
                ["For parts or not working", "7000"]
              ], 
              { include_blank: "Select Condition" }, 
              { class: "form-select" } 
          %>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= form.fields_for :ebay_product_attribute do |ebay_fields| %>
          <%= ebay_fields.label :listing_duration, "Listing Duration", class: "form-label" %>
          <%= ebay_fields.select :listing_duration, 
              [
                ["Good 'Til Cancelled", "GTC"],
                ["1 Day", "Days_1"],
                ["3 Days", "Days_3"],
                ["5 Days", "Days_5"],
                ["7 Days", "Days_7"],
                ["10 Days", "Days_10"],
                ["30 Days", "Days_30"]
              ], 
              { include_blank: "Select Duration" }, 
              { class: "form-select" } 
          %>
        <% end %>
      </div>
    </div>
  </div>
  
  <!-- Include the business policies section -->
  <%= render 'kuralis/products/ebay_business_policies', form: form, product: product %>
  
  <div class="row mb-3">
    <div class="col-md-12">
      <div class="form-group">
        <%= form.fields_for :ebay_product_attribute do |ebay_fields| %>
          <%= ebay_fields.label :condition_description, "Condition Description", class: "form-label" %>
          <%= ebay_fields.text_area :condition_description, class: "form-control", rows: 3 %>
          <small class="form-text text-muted">Provide details about the condition of your item</small>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="row mb-3">
    <div class="col-md-12">
      <div class="form-check form-switch">
        <%= form.fields_for :ebay_product_attribute do |ebay_fields| %>
          <%= ebay_fields.check_box :best_offer_enabled, class: "form-check-input", role: "switch" %>
          <%= ebay_fields.label :best_offer_enabled, "Enable Best Offer", class: "form-check-label" %>
        <% end %>
      </div>
    </div>
  </div>
</div> 